body, html {
  height: 100%;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(270deg, #ffcbe2 0%, #94bbe9 100%);
}

/*ПОЛЕ ВВОДА*/
input {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  color: #a179d8;
  text-shadow: 1px -1px 3px #8fa2c7, -1px 1px 3px #c097b2;
	margin: 0 15px;
  padding: 1.2rem 2rem;
  border-radius: 0.2rem;
  background-color: linear-gradient(20deg, #eeaeca 0%, #94bbe9 100%);
  border: none;
  width: 10%;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}
/*КНОПКА*/
button {
  position: relative;
  margin: 10px;
  
  padding: auto;
  border: none;
  border-radius: 35%;
  width: 150px;
  height: 150px;
  background: #b3aeee;
  background: linear-gradient(30deg, #eeaeca 0%, #94bbe9 100%);
  color: #c869f1;
  font-size: 1.5em;
  font-weight: 600;
  box-shadow: inset 0 0 35px 0px rgba(0, 0, 0, 0.25), inset 0 2px 1px 1px rgba(255, 255, 255, 0), 1px 1px 15px 2px rgba(154, 137, 164, 0.5);
  text-shadow: 1px -1px 3px #8fa2c7, -1px 1px 3px #c097b2;
  outline: none;
  transition: box-shadow 0.4s, text-shadow 0.5s;
}
button:hover {
  cursor: pointer;
  box-shadow: inset 0 0 35px 0px rgba(0, 0, 0, 0.15), inset 0 2px 1px 1px rgba(255, 255, 255, 0), 1px 1px 15px 2px rgba(154, 137, 164, 0.1);
  text-shadow: 3px -3px 5px #8fa2c7, -3px 3px 5px #c097b2;
  transition: box-shadow 0.4s, text-shadow 0.5s;
}
button:active {
  background: linear-gradient(30deg, #d2b2d4 0%, #b1b7df 100%);
  color: #c0b5da;
  box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.15), 1px 1px 15px 2px rgba(154, 137, 164, 0.1);
  text-shadow: 1px -1px 1px rgba(143, 162, 199, 0.75), -1px 1px 1px rgba(192, 151, 178, 0.75);
  transition: background 0.3s, color 0.2s, text-shadow 0.3s, box-shadow 0.3s;
}


#parent {
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
}

.row {
  height: 27px;
}

.elem {
  width: 25px;
  height: 25px;
  border: 1px solid rgb(0, 0, 0);
  display: inline-block;
  top: 50%;
  margin: 0 0 0 0;
}

.wall {
  background: #131e2c;
}

.begining {
  background: #de48e8;
}

.openS {
  background: #2fa35991;
}
.closeS {
  background: #c58839c7;
}