.page { 
  position: relative; 
  height: 500px; 
  width: 500px;
  border: 6px solid #ff0099;
  background: rgba(255, 234, 234, 0.575); 
  display: inline-block;
}
.dot {
    height: 15px; 
    width: 15px;
    border-radius: 12px;
    background: rgb(241, 32, 74);
    position: absolute;
}
.line {
  position:absolute;
  height: 2px;
  width:200px;
  background: rgb(19, 20, 88);
}