.page { 
  position: relative; 
  height: 500px; 
  width: 500px;
  border: 6px solid #ffff00;
  background: rgb(248, 248, 248); 
  display: inline-block;
}
.dot {
    height: 15px; 
    width: 15px;
    border-radius: 12px;
    background: rgb(255, 115, 0);
    position: absolute;
}
.line {
  position:absolute;
  height: 2px;
  width:200px;
  background: rgb(0, 0, 0);
}